.Grid {
  width: 27em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column-reverse;
}

.GridRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.GridRow:nth-last-child(3n) {
  border-bottom: 5px solid #777;
}

.GridRow:nth-last-child(3n + 1) .GridCell {
  padding-top: .25em;
}

.GridRow:first-child {
  border-bottom: none;
}
