.Spinner {
  margin-top: 3rem;
  text-align: center;
  color: #777;
  display: flex;
  flex-direction: column;
}

.Spinner-logo {
  animation: App-logo-spin infinite 2s ease-in-out;
  height: 180px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
