.App {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 60px;
}

.AppHeader {
  display: flex;
  font-variant: small-caps;
  padding: .5em;
  color: #999;
  box-shadow: 0 1px 5px 0 #ccc;
}

.AppContent {
  flex: 1 0 auto;
}

.AppFooter {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  font-variant: small-caps;
  padding: .5em;
  background-color: #999;
}

.AppFooter a {
  margin: 1em 3em;
}

.AppFooter a:hover {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
